.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 350px;
    min-height: 500px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 10, 10, 0.8);
    padding: 40px;
    border-radius: 10px;
    color: #FFF;
}

h1 {
    font-size: 30px;
}

img {
    width: 60px;
}

input {
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    background-color: #ea2425;
    color: #FFF;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 1s;
}



button:hover {cursor: pointer;
    background-color: #c26464;
}

#resultado {
    margin-top: auto;
}

body {
    background: url('../images/churrasco.jpg');
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    height: max-content;
}
